

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #f0f0f0;
}

#header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.popup-container {
    display: flex;
    align-items: left;
    justify-content: left;
    position: fixed;
    top: 0;
    left: 0;
    width: 14%;
    height: 50%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
  }
  .popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    position: relative;
  }

  h2 {
    color: #333;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #555;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .switch-form {
    text-align: center;
    margin-top: 15px;
  }
  
  .switch-form a {
    color: #007BFF;
    text-decoration: none;
  }
  
  .switch-form a:hover {
    text-decoration: underline;
  }
  
  .popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    position: relative;
  }
  
  .close-popup-btn {
    background: none;
    color: #555;
    font-size: 20px;
    border: none;
    cursor: pointer;
    position: right;
    top: 5px; 
    right: 5px; 
  }
 
#map {
    width: 70%;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#airport-info p {
    margin-left: 10px;
}

#world-map {
    width: 100%;
    height: auto;
}


.user-destination {
    display: flex;
    align-items: center;
    margin: 20px;
    width: fit-content;
}

.filters {
    display: flex;
    align-items: center;
    margin: 20px;
    width: fit-content;
}

label {
    margin-right: 10px;
}

select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}






